*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html{
    background-color: black;
}
body{
    overflow: hidden;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button{
    padding: 15px 25px;
    background-color: crimson;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    z-index: 9;
    position: relative;
}

div{
    width: 70px;
    height: 70px;
    position: absolute;
}