*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body{
    background-color: black;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

button{
    padding: 10px 20px ;
    background-color: crimson;
    color: white;
    font-weight: 600;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    z-index: 10;
}
button:active{
  scale: 0.9;
}
h1{
  font-size: 40px;
  position: absolute;
  white-space: nowrape;
}