*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body{
    background-color: rgb(58, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 700px;
    height: 300px;
    background-color: tomato;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 4rem;
    color: white;
}