*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body{
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.box{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
}

button{
    padding: 15px 35px;
    background-color: cyan;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
}
button:active{
    scale: 0.9;
}